/* HEADER  */
.menu.item {
    font-size: 1.1em;
}

#static {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

#page-header {
    margin-top: 5em;
    color: white;
    letter-spacing: 0.2em;
    font-size: 3em;
    line-height: 1.5em;
}

#blur {
    filter: blur(1px);
    font-size: 1.4em;
}

#focus-header {
    font-size: 1.6em;
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

/* CONTENT */
.content-white {
    background-color: rgba(255,250,250);
}

.content-grey {
    background-color: rgb(255,255,255);
}

#top-content-container {
    margin-top: 20em;
    width: 100% !important;
    padding: 2em 5em;
}

#middle-content-container, #bottom-content-container {
    width: 100% !important;
    padding: 2em 5em;
}

/* FOOTER */
#footer {
    padding: 4em 2em 3em 2em;
    color: white;
    background-color: rgba(255,250,250, 0.1);
    width: 100%;
}
