/* BACKGROUND IMAGE */
.background {
    background-color: black;
}

/* NAV */
nav .menu a.active {
    border-bottom: 2px solid #7e57c2;
}


/* HEADER  */
.main-header {
    background-color: transparent;
}

.menu.item {
    font-size: 1.2rem;
}

#static {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

#page-header {
    margin-top: 15rem;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    line-height: 3rem;
}

#blur {
    filter: blur(1px);
    font-size: 5rem;
}

#focus-header {
    font-size: 6rem;
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}

/* CONTENT */
.content-white {
    background-color: rgb(255,255,255);
}

.content-grey {
    background-color: rgb(255,250,250);
}

a {
    color: black;
    font-weight: bold;
}

#top-content-container {
    margin-top: 20rem;
    width: 100% !important;
    padding: 2rem 5rem;
}

#middle-content-container, #bottom-content-container {
    width: 100% !important;
    padding: 2rem 5rem;
}

ul {
    list-style: none;
}

li {
    line-height: 2rem;
}

.left-standout-text {
    line-height: 2rem;
    font-size: 1.2rem;
}

.first-letter {
    font-weight: bold;
    font-size: 1.3rem;
}

.list-box {
    list-style: square;
}

.box-header {
    font-weight: bold;
    color: #7e57c2;
}

.secondary-box-header {
    color: #ba68c8;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
}

.key-list {
    font-weight: bold;
}

.final-icon{
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.zoom-in {
    cursor: zoom-in;
}

/* FOOTER */
#footer {
    padding: 4rem 2rem 3rem 2rem;
    color: white;
    background-color: rgba(255,250,250, 0.1);
    width: 100%;
r}

#footer-space {
    margin-right: 1rem;
}r

#footer a {
  r  font-size: 1.8rem;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    #top-content-container {
        margin-top: 14rem;
    }
}

